<div class="jumbotron">
    <center>
        <h2><i class="fas fa-newspaper"></i> Posts:</h2>
    </center>
    <hr>
    <a href="/admin/postagens/add"><button class="btn btn-success"><i class="far fa-newspaper"></i> Novo
            Post</button></a>

    {{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Descrição: {{descricao}}</p>
            <small>Data: {{data}}</small><br>
            <small>Categoria: {{categoria.nome}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-4"><i class="far fa-edit"></i>
                    Editar</button></a>
            <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-4"><i
                        class="fas fa-trash-alt"></i> Deletar</button></a>
        </div>
    </div>
    {{else}}
    <p>
        <font face="Arial" color="red">Nenhum Post encontrado</font>
    </p>
    {{/each}}
</div>
<style>
    .btn {
        font-size: 80%;
        border-radius: 10rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
    }
</style>