<div>
    <div class="jumbotron ">
        <div class="text-center">
            <h1 class="display-4"><strong>Bem-vindo!</strong></h1>
            <p class="lead"><strong>First Educação e Tecnologia</strong></p>
            <hr class="my-4">
        </div>

        <center>
            <h2>Informações recentes:</h2>
        </center>

        {{#each postagens}}
        <div class="card mt-4" style="width: 50rem;">
            <div class="card-body">
                <h3>Aviso: {{titulo}}</h3>
                <h5>Descrição: {{descricao}}</h5>
                <h5>Categoria: {{categoria.nome}}</h5>
                <h5>Data de publicação: {{data}}</h5><br>
                <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais!</button></a>
            </div>
        </div>
        {{else}}
        <h5 class="alert alert-danger">Nenhuma informação!</h5>
        {{/each}}
    </div>
</div>