<div class="jumbotron">
    <h1 class="display-4 text-center"><strong>Postagens</strong></h1><br>
    {{#if user}}
    {{else}}
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Entrar</a>
    {{/if}}

    <hr>

    <h2>Informações recentes: </h2>

    {{#each postagens}}

    <div class="card mt-4">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p><br>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais!</button></a>
            <hr>
            <small>Categoria: {{categoria.nome}}</small><br>
            <small>Data de publicação: {{data}}</small>
        </div>
    </div>

    {{else}}

    <h5 class="alert alert-danger">Nenhuma postagem</h5>

    {{/each}}

</div>